<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Freebie: 4 Bootstrap Gallery Templates</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
        <link rel="stylesheet" href="gallery-clean.css">


    </head>
    <body>

        <div class="container gallery-container">

            <h1>Pepe Rank</h1>

            <p class="page-description text-center">The most comprehensive pepe gallery on the web</p>
            
            <div class="tz-gallery">

                <div class="row">
                    <% pwd = Dir.pwd %>
                    <% pwd += "/public/pepes" %>
                    <% dir = Dir.open "#{pwd}" %>

                    <% fileArray = [] %>
                    <% count = 0 %>
                    <% dir.each do |file|  %>
                        <% fileArray.push(file) %>
                        <% count += 1 %>
                    <% end %>

                    <% dir.each do |file| %>
                        <% extension = file.split(//).last(3).join; %>
                        <% if extension .eql? "jpg" %>
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <% location = "./pepes/" + file %>
                                    <img src= "<%=location%>">
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>